body {
  padding-top: 20px;
  padding-bottom: 20px;
  background:#333;
}
.navbar {
  margin-bottom: 20px;
}
.logo-full {
  height:100px;
  padding:25px 0;
}
table {
  margin-top:20px;
}
.jumbotron {
  box-shadow:5px 5px 15px rgba(0,0,0,0.85);
}
.jumbotron p {
  font-size:14px;
}
th {
  font-weight:bold;
}
th a {
  color:black;
}
td {
  vertical-align:middle !important;
}
a{
  cursor:pointer;
  color:#333;
}
.footer {
  padding-top:15px;
}
.footer p {
  color:white;
}
.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
