
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background:#e2e2e2;
}

.navbar {
  margin-bottom: 20px;
}

table {
  margin-top:20px;

}
.jumbotron p {
  font-size:14px;
}
th {
  font-weight:bold;
}
th a {
  color:black;
}
td {
  vertical-align:middle !important;
}
a{
  cursor:pointer;
}
.footer {
  padding-top:15px;
}
.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
