<script>
  $('#inputStartDate').datepicker();
  $('#inputEndDate').datepicker();
</script>
<div class="jumbotron" >
  <form name="customerForm" ng-submit="submitForm(customerForm.$valid)" novalidate>
    customer = {{customer}}
    <div class="form-group" ng-class="{ 'has-error' : customerForm.inputName.$invalid && !customerForm.inputName.$pristine }">
      <label for="inputName">Name:</label>
      <input class="form-control" name="inputName" type="text" id="inputName" ng-model="customer.name" placeholder="Customer Name" ng-minlength="3" required>
      <p ng-show="customerForm.inputName.$error.minlength" class="text-danger">Customer name is too short.</p>
    </div>
    <div class="form-group">
      <label for="inputChannel">Channel:</label>
      <input class="form-control" type="text" id="inputChannel" ng-model="customer.channel" placeholder="Channel" ng-minlength="3" required/>
      <p ng-show="customerForm.inputChannel.$error.minlength" class="text-danger">Customer channel is too short.</p>
    </div>
    <div class="form-group">
      <label for="inputChannel">Reseller:</label>
      <input class="form-control" type="text" id="inputReseller" ng-model="customer.reseller" placeholder="Reseller"/>
    </div>
    <div class="form-group">
      <label for="inputStartDate">Start Date:</label>
      <input class="form-control" type="text" id="inputStartDate" ng-model="customer.startdate" placeholder="Start Date"/>
    </div>
    <div class="form-group">
      <label for="inputEndDate">End Date</label>
      <input class="form-control" type="text" id="inputEndDate" ng-model="customer.enddate" placeholder="End Date"/>
    </div>
    <div class="form-group">
      <label for="inputTerm">Length of Term(Months)</label>
      <input class="form-control" type="number" id="inputTerm" ng-model="customer.term" placeholder="Length of Term (Months)"/>
    </div>
    <div class="form-group">
      <label for="inputRenew">Auto Renew (Y/N)</label>
      <select class="form-control" id="inputRenew" ng-model="customer.autorenew">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputChecksCommitted">Number of Checks Committed</label>
      <input class="form-control" type="number" id="inputChecksCommitted" ng-model="customer.checkscommitted" placeholder="Checks Committed"/>
    </div>
    <div class="form-group">
      <label for="inputBrowserChecks">Browser Checks Used</label>
      <input class="form-control" type="number" id="inputBrowserChecks" ng-model="customer.browserchecks" placeholder="Browser Checks Used"/>
    </div>
    <div class="form-group">
      <label for="inputUrlChecks">URL Checks Used</label>
      <input class="form-control" type="number" id="inputUrlChecks" ng-model="customer.urlchecks" placeholder="URL Checks Used"/>
    </div>
    <div class="form-group">
      <label for="inputContractValue">Committed Contract Value</label>
      <input class="form-control" type="number" id="inputContractValue" ng-model="customer.contractvalue" placeholder="Committed Contract Value"/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-small btn-primary" ng-disabled="customerForm.$invalid">Create Customer</button>
      <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
    </div>
    </form>

</div>
