<script>
  $('#inputStartDate').datepicker();
  $('#inputEndDate').datepicker();
</script>
<div class="jumbotron" >
  <form novalidate="novalidate" name="customerForm">
    customer = {{customer}}
    <div class="form-group">
      <label for="inputName">Name:</label>
      <input class="form-control" name="inputName" type="text" id="inputName" ng-model="customer.name" placeholder="Customer Name" required>
    </div>
    <div class="form-group">
      <label for="inputChannel">Channel:</label>
      <input class="form-control" type="text" id="inputChannel" ng-model="customer.channel" placeholder="Channel"/>
      
    </div>
    <div class="form-group">
      <label for="inputChannel">Reseller:</label>
      <input class="form-control" type="text" id="inputReseller" ng-model="customer.reseller" placeholder="Reseller"/>
    </div>
    <div class="form-group">
      <label for="inputStartDate">Start Date:</label>
      <input class="form-control" type="text" id="inputStartDate" ng-model="customer.startdate" placeholder="Start Date"/>
    </div>
    <div class="form-group">
      <label for="inputEndDate">End Date</label>
      <input class="form-control" type="text" id="inputEndDate" ng-model="customer.enddate" placeholder="End Date"/>
    </div>
    <div class="form-group">
      <label for="inputTerm">Length of Term(Months)</label>
      <!--<input class="form-control" type="text" id="inputTerm" ng-model="customer.term" placeholder="Length of Term (Months)"/>-->
      <select class="form-control" id="inputTerm" ng-model="customer.term">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputRenew">Auto Renew (Y/N)</label>
      <select class="form-control" id="inputRenew" ng-model="customer.autorenew">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputChecksCommitted">Number of Checks Committed</label>
      <input class="form-control" type="text" id="inputChecksCommitted" ng-model="customer.checkscommitted" placeholder="Auto Renew?"/>
    </div>
    <div class="form-group">
      <label for="inputBrowserChecks">Browser Checks Used</label>
      <input class="form-control" type="text" id="inputBrowserChecks" ng-model="customer.browserchecks" placeholder="Browser Checks Used"/>
    </div>
    <div class="form-group">
      <label for="inputUrlChecks">URL Checks Used</label>
      <input class="form-control" type="text" id="inputUrlChecks" ng-model="customer.urlchecks" placeholder="URL Checks Used"/>
    </div>
    <div class="form-group">
      <label for="inputContractValue">Committed Contract Value</label>
      <input class="form-control" type="text" id="inputContractValue" ng-model="customer.contractvalue" placeholder="Committed Contract Value"/>
    </div>
    <div class="form-group">
      <button ng-click="createNewCustomer()" class="btn btn-small btn-primary">Create Customer</button>
      <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
    </div>
    </form>

</div>
